.SearchingByLinkContainer {
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  flex-basis: content;
  margin: 0 10px 20px 10px;
}

.bigHieght {
  height: 145px;
}

.linkMessage {
  text-align: left;
  color: red;
  margin-top: 20px;
}