.SearchingByKeywordContainer {
  padding: 30px 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 660px;
  margin: 0 10px 20px 10px;
}

.startHeight {
  height: 39px;
}

.videosContainer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}