.App {
  text-align: center;
  margin-top: 30px;
}

.searchingContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.PreviewIframeContainer {
  margin-top: 20px;
}